body {
    background-image: linear-gradient(135deg, #5f9ea0, #3c5c74);
    font-family: Tahoma;
}

header {
    font-size: 30px;
    text-align: center;
    margin: 100px 0;
}

section {
    margin: 30px auto;
    background: rgb(0, 0, 0, 55%);
    max-width: 500px;
    min-width: 200px;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: white;
    font-size: 20px;
}

.ID-pfp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
}

.ID-pfp:hover {
    border-radius: 2%;
}

.pfp-div {
    float: right;
}

div {
    margin: 50px 20px;
}

.alignleft {
    text-align: left;
}

.footer {
    margin: 30px auto 0;
    background: black;
    height: 350px;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: white;
    font-size: 20px;
}

.footer1 {
    height: 75px;
    margin: 0;
}

.footer2 {
    width: 49%;
    height: 100px;
    margin: 0;
    font-size: 25px;
    display: block;
}

.location {
    font-size: 30px;
    text-align: center;
    padding: 19px 0;
}

.footer a {
    color: white;
}

.footer a:hover {
    font-style: italic;
}

.footer a:active {
    color: #5f9ea0;
}

.right {
    float: right;
    text-align: right;
}

.left {
    float: left;
    text-align: left;
}

@media screen and (max-width: 600px) {
    section {
        width: 300px;
    }
}
